{{define "content.setting.details"}}
<div class="content-wrapper" style="min-height: 500px;">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1>Details</h1>
        </div>
        <div class="col-sm-6 d-none d-sm-block">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Trello Board</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
</div>
{{end}}

{{define "content.setting.users"}}
<div class="content-wrapper" style="min-height: 1343px;">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Add New User</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Users</li>
          </ol>
        </div>
      </div>

    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Register User</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="/accounts/setting/new?key={{.Any.Key}}" id="register-account">
              <input type="hidden" name="csrf" value="{{ .Token }}">
              <div class="card-body">
                <div class="form-group">
                  <label>Full Name</label>
                  <input type="text" class="form-control" name="name" placeholder="Enter Full Name">
                </div>
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" name="username" placeholder="Enter Username">
                </div>
                <div class="form-group">
                  <label>Email address</label>
                  <input type="email" class="form-control" name="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Assign Role</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="/accounts/setting/role/new" id="assign-role">
              <div class="card-body">
                <div class="form-group">
                  <label>Select User</label>
                  <select class="form-control select2" style="width: 100%;" id="opt-select-user">
                  </select>
                </div>
                <div class="form-group">
                  <label>Select Role</label>
                  <select class="form-control select2" style="width: 100%;" id="opt-select-role">
                    {{range $i, $val := .Data.AccessControl.Authority }}
                      {{ if eq $i 1 }}
                        <option selected="selected" value="{{$val.Name}}">{{$val.Name}}</option>
                      {{end}}
                      <option value="{{$val.Name}}">{{$val.Name}}</option>
                    {{end}}
                  </select>
                </div>
                <div class="form-group">
                  <label>Select Permission</label>
                  <select class="form-control select2" style="width: 100%;" id="opt-select-permission">
                    {{range $i, $val := .Data.AccessControl.Permission }}
                      {{ if eq $i 1 }}
                        <option selected="selected" value="{{$val.Name}}">{{$val.Name}}</option>
                      {{end}}
                        <option value="{{$val.Name}}">{{$val.Name}}</option>
                    {{end}}
                  </select>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">User Lists</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <div class="input-group-append" style="margin-left: -72px;margin-right: 14px;">
                    <button type="submit" class="btn btn-primary" onclick="listAccount('/accounts/setting/list?key={{.Any.Key}}')">
                      <i class="fas fa-sync-alt"></i>
                    </button>
                  </div>
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;" id="user-list">
              <table class="table table-head-fixed text-nowrap">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Suspend</th>
                  <th>Last Login</th>
                  <th>Created At</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody id="user">
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="text-center">
                      <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>

        <div id="option-modal">

        </div>
      </div>
    </div>

  </section>
</div>
{{end}}